name: Build Synergy AppImage

on:
  workflow_dispatch:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install tools
      run: |
        sudo apt update
        sudo apt install -y wget binutils patchelf fuse libc6 libstdc++6 squashfs-tools zsync imagemagick

    - name: Download deb2appimage
      run: |
        wget -O deb2appimage https://raw.githubusercontent.com/AppImageCommunity/pkg2appimage/master/pkg2appimage
        chmod +x deb2appimage

    - name: Download Synergy deb
      run: |
        wget -O synergy.deb "https://symless.com/synergy/download/package/synergy-personal-v3/debian-trixie/synergy-3.4.0-linux-noble-x86_64.deb"

    - name: Prepare AppImage recipe
      run: |
        cat << 'EOF' > synergy.yml
        app: Synergy
        ingredients:
          dist: noble
          packages:
            - ./synergy.deb
        script:
          - mkdir -p usr/bin
          - cp ./AppDir/usr/bin/synergy3 usr/bin/
        EOF

    - name: Build AppImage
      run: |
        ./deb2appimage synergy.yml

    - name: Upload AppImage artifact
      uses: actions/upload-artifact@v4
      with:
        name: Synergy-AppImage
        path: Synergy*.AppImage
