name: Save redis-8.2.1-bookworm
on:
  workflow_dispatch:

jobs:
  save-images:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Pull Docker images
        run: |
          docker pull redis:8.2.1-bookworm
          docker pull minio/minio:RELEASE.2024-12-18T13-15-44Z

      - name: Save Docker images to tar
        run: |
          docker save \
            redis:8.2.1-bookworm minio/minio:RELEASE.2024-12-18T13-15-44Z \
            -o 10-22-images.tar

      - name: Upload tar as artifact
        uses: actions/upload-artifact@v4
        with:
          name: 10-22-images.tar
          path: 10-22-images.tar
