name: Build openEuler Docker Image

on:
  workflow_dispatch:

jobs:
  build-image:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install libguestfs tools
        run: |
          sudo apt-get update
          sudo apt-get install -y libguestfs-tools qemu-utils xz-utils

      - name: Download openEuler qcow2 image
        run: |
          wget https://repo.openeuler.openatom.cn/openEuler-24.03-LTS-SP2/virtual_machine_img/aarch64/openEuler-24.03-LTS-SP2-aarch64.qcow2.xz -O base.qcow2.xz
          xz -d base.qcow2.xz
          mv base.qcow2 base.qcow2.qcow2

      - name: Customize image (install Docker)
        run: |
          sudo virt-customize \
            -a base.qcow2.qcow2 \
            --run-command "dnf config-manager --add-repo https://mirrors.aliyun.com/docker-ce/linux/centos/docker-ce.repo" \
            --run-command "sed -i 's|https://download.docker.com|https://mirrors.aliyun.com/docker-ce|g' /etc/yum.repos.d/docker-ce.repo" \
            --run-command "sed -i 's/\\$releasever/10/g' /etc/yum.repos.d/docker-ce.repo" \
            --run-command "dnf install docker-ce docker-ce-cli containerd.io docker-buildx-plugin docker-compose-plugin container-selinux -y" \
            --run-command "systemctl enable --now docker.service docker.socket"

      - name: Compress customized image
        run: |
          qemu-img convert -c -O qcow2 base.qcow2.qcow2 openEuler-with-docker.qcow2

      - name: Upload new image artifact
        uses: actions/upload-artifact@v4
        with:
          name: openEuler-with-docker
          path: openEuler-with-docker.qcow2

